/*--This are my styles for my resume */
title {
  color: #33485e;
  font-size: 1.5em;
  font-family: Arial;
  text-transform: uppercase;
}
/*-- name */
#name {
  color: #33485e !important;
font-size: 3em;
font-family: Arial,;
text-align: center;
text-transform: uppercase;
}
/*-- sections titles */
h2 {
  color:white; 
font-size: 1.5em;
background-color: #33485e;
font-weight: 400;
font-family: Arial;
text-transform: uppercase;
}
/*-- organizations */
h3 {
  font-size: 1.5em;
  font-weight: 600;

}
/*-- job titles */
h4{
  font-size: 1.5em;
  font-weight: 600;
}
/*-- job dates */
h5 {
  font-weight: 400;
  font-size: 1em;
}
/*-- info */
p{
  color: #33485e;
font-size: 1em;
background-color: #33485e;
font-weight: bold;
font-family: Arial;
text-align: center; 
}