blockquote {
    font: 16px/24px helvetica, sans-serif;
 font-style: italic;
 margin-top: 15px;
 margin-bottom: 15px;
 color: red;
 margin-left: 50px;
 padding-left: 15px;
 border-left: 4px solid #ccc;
 }
 /*--This is a really funny quote--*/
 
 img {
    max-width: 100%;
}

#content {
    text-align: center;
}

p {
    font: helvetica, arial, sans-serif;
    font-size: 15px;
}